# Thingsboard Settings

TB_URL = "THE_URL_OF_THINGSBOARD"

TB_USERNAME = "USERNAME_OF_TENANT_ACCOUNT"
TB_PASSWORD = "PASSWORD_OF_TENANT_ACCOUNT"

# JWT Fetch

TB_JWT_SAFETY_DELAY = 30

# Config
DEVICE_TO_ASSET_RELATION = "NAME_OF_RELATION_BETWEEN_DEVICE_AND_ASSET/JOBCARD"
